<!DOCTYPE html>
<html>
  <head>
    <title>RailsWithoutWebpack</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_vite_tag "application" %>
    <%= vite_hmr_tag %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
